{% extends "layout.html" %}
<style type="text/css">

</style>

{% block body %}
<br>
<br>
<div class="container d-flex align-items-center justify-content-center">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Payee</th>
                <th scope="col">Beneficiary</th>
                <th scope="col">Amount Transfered</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for data in result %}
            <tr>
                <td>{{data.sender_name}}</td>
                <td>{{data.receiver_name}}</td>
                <td>{{data.amount}}</td>
                <td>{{data.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}