{% extends "layout.html" %}
<style type="text/css">

</style>

{% block body %}
<br>
<br>
<div class="container d-flex align-items-center justify-content-center">
    <table class="table table-bordered text-center w-auto">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{data.fname}}</td>
            </tr>
            <tr>
                <th scope="row">Balance</th>
                <td>{{data.current_balance}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="text-center">
    <a href="/transfer"><button type="button" class="btn btn-default btn btn-primary mx-3 my-1"
            style="padding: 10px;">Transfer Money</button></a>
</div>
<br>
<div class="text-center">
    <a href="/"><button type="button" class="btn btn-default btn btn-primary mx-3 my-1"
        style="padding: 10px;">Home</button></a>
</div>

{% endblock %}